<a href="https://colab.research.google.com/github/JulienJ-44/rakuteam/blob/main/Codes/10_Rakuten_Merge_data_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
from google.colab import drive
drive.mount('/Drive')

Mounted at /Drive

In [18]:
pathSaveCsv = '/Drive/My Drive'

In [3]:
import pandas as pd 
import requests
import io
# #CHARGEMENT des fichiers
# X = pd.read_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/1-Dataset_initial/X_train_update.csv", index_col=0) 
# y = pd.read_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/1-Dataset_initial/Y_train_CVw08PX.csv", index_col=0)

# feats_damien = pd.read_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/6-Dataset_Features/features_D.csv")
# feats_aylin = pd.read_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/6-Dataset_Features/df_features_images.csv")
# feats_julien = pd.read_csv("/content/driver/MyDrive/Datascientest/Projet_RAKUTEN/6-Dataset_Features/Export_Dataset_JJ.csv")

url = "https://raw.githubusercontent.com/JulienJ-44/rakuteam/main/Features/features_texte.csv" # Make sure the url is the raw version of the file on GitHub
download = requests.get(url).content
df_features_texte = pd.read_csv(io.StringIO(download.decode('utf-8')))
url = "https://raw.githubusercontent.com/JulienJ-44/rakuteam/main/Features/features_images_all.csv" # Make sure the url is the raw version of the file on GitHub
download = requests.get(url).content
df_features_img = pd.read_csv(io.StringIO(download.decode('utf-8')))

#stockage de tous les codes de classe dans une liste
#classes_codes = (y['prdtypecode'].value_counts().index.tolist())

In [7]:
df_features_texte.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98728 entries, 0 to 98727
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         98728 non-null  int64
 1   designation        98726 non-null  object
 2   description        63902 non-null  object
 3   productid          98728 non-null  int64
 4   prdtypecode        84916 non-null  float64
 5   desi_nb_phrases    98728 non-null  int64
 6   desc_nb_phrases    98728 non-null  int64
 7   best_idf           98728 non-null  object
 8   class_10.0         98728 non-null  float64
 9   class_40.0         98728 non-null  float64
 10  class_50.0         98728 non-null  float64
 11  class_60.0         98728 non-null  float64
 12  class_1140.0       98728 non-null  float64
 13  class_1160.0       98728 non-null  float64
 14  class_1180.0       98728 non-null  float64
 15  class_1280.0       98728 non-null  float64
 16  class_1281.0       98728 non-null  float64
 17  class_1300.0       98728 non-null  float64
 18  class_1301.0       98728 non-null  float64
 19  class_1302.0       98728 non-null  float64
 20  class_1320.0       98728 non-null  float64
 21  class_1560.0       98728 non-null  float64
 22  class_1920.0       98728 non-null  float64
 23  class_1940.0       98728 non-null  float64
 24  class_2060.0       98728 non-null  float64
 25  class_2220.0       98728 non-null  float64
 26  class_2280.0       98728 non-null  float64
 27  class_2403.0       98728 non-null  float64
 28  class_2462.0       98728 non-null  float64
 29  class_2522.0       98728 non-null  float64
 30  class_2582.0       98728 non-null  float64
 31  class_2583.0       98728 non-null  float64
 32  class_2585.0       98728 non-null  float64
 33  class_2705.0       98728 non-null  float64
 34  class_2905.0       98728 non-null  float64
 35  desc_nb2chiffres+  98728 non-null  int64
 36  desi_num           98728 non-null  int64
 37  desc_num           98728 non-null  int64
 38  desc_poids         98728 non-null  int64
 39  desc_long          98728 non-null  int64
 40  desc_vol           98728 non-null  int64
 41  desc_ans_mois      98728 non-null  int64
 42  desc_pieces        98728 non-null  int64
dtypes: float64(28), int64(12), object(3)
memory usage: 32.4+ MB

In [6]:
df_features_img.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98728 entries, 0 to 98727
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   prdtypecode  84916 non-null  float64
 1   productid    98728 non-null  int64
 2   blanc        98728 non-null  float64
 3   noir         98728 non-null  float64
 4   R            98728 non-null  float64
 5   G            98728 non-null  float64
 6   B            98728 non-null  float64
 7   imageid      13812 non-null  float64
dtypes: float64(7), int64(1)
memory usage: 6.0 MB

In [ ]:
# Referencer une df product
df_prod = X.productid

# Compter les doublons
df_prod.duplicated().sum()

0

In [9]:
fusion_1 = df_features_texte.merge(right = df_features_img, on='productid', how = 'left')

In [10]:
fusion_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98728 entries, 0 to 98727
Data columns (total 50 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         98728 non-null  int64
 1   designation        98726 non-null  object
 2   description        63902 non-null  object
 3   productid          98728 non-null  int64
 4   prdtypecode_x      84916 non-null  float64
 5   desi_nb_phrases    98728 non-null  int64
 6   desc_nb_phrases    98728 non-null  int64
 7   best_idf           98728 non-null  object
 8   class_10.0         98728 non-null  float64
 9   class_40.0         98728 non-null  float64
 10  class_50.0         98728 non-null  float64
 11  class_60.0         98728 non-null  float64
 12  class_1140.0       98728 non-null  float64
 13  class_1160.0       98728 non-null  float64
 14  class_1180.0       98728 non-null  float64
 15  class_1280.0       98728 non-null  float64
 16  class_1281.0       98728 non-null  float64
 17  class_1300.0       98728 non-null  float64
 18  class_1301.0       98728 non-null  float64
 19  class_1302.0       98728 non-null  float64
 20  class_1320.0       98728 non-null  float64
 21  class_1560.0       98728 non-null  float64
 22  class_1920.0       98728 non-null  float64
 23  class_1940.0       98728 non-null  float64
 24  class_2060.0       98728 non-null  float64
 25  class_2220.0       98728 non-null  float64
 26  class_2280.0       98728 non-null  float64
 27  class_2403.0       98728 non-null  float64
 28  class_2462.0       98728 non-null  float64
 29  class_2522.0       98728 non-null  float64
 30  class_2582.0       98728 non-null  float64
 31  class_2583.0       98728 non-null  float64
 32  class_2585.0       98728 non-null  float64
 33  class_2705.0       98728 non-null  float64
 34  class_2905.0       98728 non-null  float64
 35  desc_nb2chiffres+  98728 non-null  int64
 36  desi_num           98728 non-null  int64
 37  desc_num           98728 non-null  int64
 38  desc_poids         98728 non-null  int64
 39  desc_long          98728 non-null  int64
 40  desc_vol           98728 non-null  int64
 41  desc_ans_mois      98728 non-null  int64
 42  desc_pieces        98728 non-null  int64
 43  prdtypecode_y      84916 non-null  float64
 44  blanc              98728 non-null  float64
 45  noir               98728 non-null  float64
 46  R                  98728 non-null  float64
 47  G                  98728 non-null  float64
 48  B                  98728 non-null  float64
 49  imageid            13812 non-null  float64
dtypes: float64(35), int64(12), object(3)
memory usage: 38.4+ MB

In [13]:
fusion_1.head()

   Unnamed: 0  ... imageid
0           0  ...     NaN
1           1  ...     NaN
2           2  ...     NaN
3           3  ...     NaN
4           4  ...     NaN

[5 rows x 50 columns]

In [14]:
# Supprimer les colonnes identiques entre df Damien et Julien
to_drop = ['Unnamed: 0','imageid']
data_features = fusion_1.drop(to_drop, axis = 1)

In [ ]:
# Renommer les colonnes
#names = {'prdtypecode_x': 'prdtypecode', 'Unnamed: 0_x' : 'Unnamed: 0', 'designation_x': 'designation', 'description_x': 'description'}
#data_features.rename(columns = names, inplace = True)

In [15]:
data_features.head()

                                         designation  ...           B
0  olivia personalisiertes notizbuch 150 seiten p...  ...  246.580288
1  journal arts numéro 133 28/09/2001 art marche ...  ...  231.392644
2  grand stylet ergonomique bleu gamepad nintendo...  ...  253.409132
3  peluche donald europe disneyland 2000 marionne...  ...  149.065240
4                                      guerre tuques  ...  238.177512

[5 rows x 48 columns]

In [29]:
data_features.to_csv(f"{pathSaveCsv}/daata_features_final.csv")